---
title: Rémi de Verclos
chapters:
  - research
  - coding
  - teaching
  - others
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="keywords" content=""/>
    <meta charset="utf-8">
    <meta name="robots" content="noodp"/>
    <link rel="canonical" href="https://remi-de-verclos.github.io/">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script language="Javascript">
      function show(id){
	  for (c of document.getElementsByClassName("chapter")) {
	      c.style.display="none";
	  }
	  document.getElementById(id).style.display="block"
      }
    </script> 
  </head>
  <body class="">


    <div class="bloc">
      <div class="cap">
	<img id="photo"
	     src="/assets/images/medal_smaller.png" alt="Rémi de Verclos" width="200" height="200">
	<div id = "title">
	<a href="https://remi-de-verclos.github.io/">
      <h1 class="title"> Rémi de Verclos </h1>
  </a></center>
  <p class="coord">remi.de.joannis.de.verclos at ens-lyon.org</p>
  <p class="coord">Burchtstraat 100</p>
  <p class='coord'>6511RJ Nijmegen</p>
  </div>
  </div>
  <p>I obtained my Ph.D. in Computer Science at
  the <a href="https://g-scop.grenoble-inp.fr/en">G-SCOP Laboratory</a> in Grenoble in 2018.
  Until November 2020, I was postdoctoral researcher at the
  <a href="https://www.ru.nl/math/">Department of Mathematics</a> of Radboud University
  in Nijmegen.</p>

<p>I like solving math problems, programming and learning new things.</p>

  <p>I am looking for a position as an R&D Engineer or Data Scientist
  around Nijmegen, Netherlands, or remote.</p>

  <div class= "nav">
    {% for chapter in page.chapters %}
    <div class="nav-item" onclick="show('{{-chapter-}}')">
      {{chapter | capitalize}}
    </div>
    {% endfor %}
  </div>

</div>

<div class="bloc chapter" id='research'>
<h1>Research</h1>

<h3>Research interests</h3>
<p>
I am interested in all aspects of theoretical computer science and discrete mathematics.
In the past, I worked for instance on the following topics:
</p>
<ul>
<li>Graph theory, and particularly graph coloring</li>
<li>Random discrete structures</li>
<li>Algorithms</li>
<li>Extremal combinatorics</li> 
<li>Graph limits</li>
<li>Computational Geometry</li>
<li>Property Testing</li>
</ul>

<h3>Phd Thesis</h3>
<p>
  I did my PhD in <a href="https://g-scop.grenoble-inp.fr/en">G-SCOP Laboratory</a>
  (Université Grenoble Alpes),
  under the supervision of
  <a href="https://oc.g-scop.grenoble-inp.fr/esperet/">Louis Esperet</a>
  and
  <a href="http://lbgi.fr/~sereni/">Jean-Sébastien Sereni</a>.
The thesis explores the connections of three topics with limits of combinatorial objects:
<em>property testing</em>, <em>computational geometry</em> and
<em>flag algebras</em>.
</p>

<p>Manuscript:
<a href="manuscript.pdf">Applications of limits of combinatorial structures in geometry and graph theory</a></p>

<h3>Scientific publications</h3>

<ul>
  {% for paper in site.data.publications %}
  <li><h4 class=publi>{{ paper.title }}</h4>
    {% if paper.coauthors %}with
    {%- for coauthor in paper.coauthors -%}
    {%- assign author = site.data.coauthors[coauthor] -%}
    {%- unless forloop.first -%}{% if forloop.last %}
    and
    {%- else -%},{%- endif -%}{% endunless %}
    <span class="coauthor">
    {% if author.site -%}
    <a href="{{author.site}}">{{author.name}}</a>
    {%- else -%}
    {{ author.name }}
    {%- endif -%}
    </span>
    {%- endfor -%}
    {%- else -%}
    Single author paper
    {%- endif -%}.
    {% if paper.journal %}<em>{{paper.journal}}</em>{% endif %}
    {% if paper.arxiv %}
    <a href={{"https://arxiv.org/abs/" | append: paper.arxiv}}>arxiv:{{paper.arxiv}}</a>
    <details><summary><i>Abstract</i></summary>
      <p class="indetails">
	{{site.data.abstracts[paper.arxiv]}}
      </p>
    </details>
    {% endif %}
    {% endfor %}
    </li>
</ul>

<h3>Co-authors</h3>
{% assign coauthors = site.data.coauthors | sort %}
{% for author_entry in coauthors %}
{% assign author=author_entry[1] %}
{%- if author.site -%}
    <a href="{{author.site}}">{{author.name}}</a>
    {%- else -%}
    {{author.name}}
{%- endif -%}
{%- if forloop.last %}.{% else %},{% endif %}
{% endfor %}
</div>

<div class="bloc chapter" id="coding">
<h1>Coding</h1>
<h3>Flag algebras</h3>
<p>Flag algebras is a theory that uses Semi-Definite Programming
  to produce some kind of computer-assisted proofs.</p>

During my postdoc, I developed
an <a href="https://crates.io/crates/flag-algebra">implementation of flag algebras</a>
written in Rust to help me in my own research.
The documentation can be found
<a href="https://docs.rs/flag-algebra/0.1.11/flag_algebra/">there</a>.
If you have any trouble using it, don't hesitate to contact me.

<p>An earlier (and slower) version in OCaml can be found
<a href="https://github.com/avangogo/flag">there</a>.</p>

<h3>Other project</h3>
<p>Smaller projects can be found on my
<a href="https://github.com/avangogo">GitHub page</a>. A non-exhaustive list:</p>
<ul>
<li><a href="https://github.com/avangogo/letteries">Lettreries</a>,
  an automatic writer of french poetry that randomly produces grammatically correct text with constraints of verse form and rhymes by backtracking on a Markov chain.
  The programs computes phonetics representations (IPA) of words with a finite transducer
  built from a set of rules.
  You can read some of its creations
<a href="https://choum.net/lettreries">there</a>.</li>
<li>
  <a href="https://crates.io/crates/canonical-form">A Rust crate</a>
  to reduce graphs and other structures modulo isomorphism.
</li>
</ul>
</div>


<div class="bloc chapter" id="teaching">
<h1>Teaching</h1>

<h3>Supervision</h3>
I supervised the master thesis of two students.
<ul>
  <li>In 2019-2020: Eoin Hurley, MSc in Mathematical Sciences thesis, Mathematical Institute, Utrecht, 2019-2020.
  </li>
<li>In 2018: Nicolas Grelier, MSc in Engineering research internship in Nijmegen, IMT Atlantique, 2018.</li>
</ul>

<h3>Teaching experience</h3>
<ul>
<li>2017-2020: Guest teacher in <em>Probabilistic and Extremal Combinatorics</em> for the Dutch
national Mastermath program.</li>
<li>2014-2017: <em>Graph Theory</em>. L2 Computer science. Université Grenoble Alpe.
Courses, Tutorials, Practical sessions in C++.
</li>
<li>2014-2017: <em>Production Management</em>. M1 MIAGE. Université Grenoble Alpe.
Tutorials and Practical sessions in R.
</li>
</ul>

</div>

<div class="bloc chapter" id="others">
<h1>Award</h1>

<!-- <p>I like to dance swing and play board games.</p> -->

<p>I took part in the
  <a href="https://www.imo-official.org/team_r.aspx?code=FRA&amp;year=2008">49th International Mathematical Olympiad</a>
  in Madrid (2008) as a member of the French team. I awarded a bronze medal.</p>
</div>

    <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});
</script>
</body>
</html>
