---
title: Rémi de Verclos
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{page.title}}</title>

    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <meta name="keywords" content=""/>
    <meta charset="utf-8">
    <meta name="robots" content="noodp"/>
    <script type="http/javascript" src="http://livejs.com/live.js"></script>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
<body class="">

<div class="bloc">
  <h2> Rémi de Verclos </h2>
  <a>Phd Computer Science</a>
  <p><a>remi . de . joannis de . verclos at ens-lyon.org</a></p>
<!--  <a><small>My full name is de Joannis de Verclos, so you can also see this one.</small></a>
!-->
<p> I used to be Postdoctoral reasearcher in the
<a href="https://www.ru.nl/math/">Departement of Mathematics</a>
at Radboud University in Nijmegen.</p>
</div>

<div class="bloc">

<h1 id="publications">Publications</h1>

<ul>
  
  {% for paper in site.data.publications %}
  <li><h4><strong>{{ paper.title }}</strong></h4>
    {% if paper.coauthors %}
    with
    {%- for coauthor in paper.coauthors -%}
    {%- assign author = site.data.coauthors[coauthor] -%}
    {%- unless forloop.first -%}{% if forloop.last %}
    and
    {%- else -%},{%- endif -%}{% endunless %}
    {% if author.site -%}
    <a href="{{author.site}}">{{author.name}}</a>
    {%- else -%}
    {{ author.name }}
    {%- endif -%}
    {%- endfor -%}
    {%- else -%}
    Single author paper
    {%- endif -%}.
    {% if paper.journal %}<em>{{paper.journal}}</em>{% endif %}
    {% if paper.arxiv %}
    <a href={{"https://arxiv.org/abs/" | append: paper.arxiv}}>arxiv:{{paper.arxiv}}</a>
    {% endif %}
  {% endfor %}
</ul>

<h2>Co-authors</h2>
{% assign coauthors = site.data.coauthors | sort %}
{% for author_entry in coauthors %}
{% assign author=author_entry[1] %}
{%- if author.site -%}
    <a href="{{author.site}}">{{author.name}}</a>
    {%- else -%}
    {{author.name}}
{%- endif -%}
{%- if forloop.last %}.{% else %},{% endif %}
{% endfor %}
</div>



<div class="bloc">
<h1 id="programs">Programs</h1>

<ul>
<li>An <a href="https://crates.io/crates/flag-algebra">implementation of flag algebras</a>
written in Rust
(a previous version in OCaml can be found
  <a href="https://github.com/avangogo/flag">there</a>).</li>
<li><a href="https://github.com/avangogo/letteries">Lettreries</a>,
  An automatic writer of french poetry that randomly produces grammatically correct text with constraits of verse form and rhymes by backtracking on a Markov chain.
  The programs computes phonetics representations (IPA) of words with a finite transducer
  built from a set of rules.
  You can read some of its creations
<a href="https://choum.net/lettreries">there</a>.</li>
</ul>
</div>

<div class="bloc">
<h1 id="other">Other</h1>

<!-- <p>I like to dance swing and play boardgames.</p> -->

<p>I took part to the
  <a href="https://www.imo-official.org/team_r.aspx?code=FRA&amp;year=2008">49th International Mathematical Olympiad</a>
  in Madrid (2008) as a member of the French team. I awarded a bronze medal.</p>
</div>

    <script type="text/javascript" async
  src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-MML-AM_CHTML">
</script>
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  tex2jax: {
    inlineMath: [['$','$'], ['\\(','\\)']],
    displayMath: [['$$','$$'], ['\[','\]']],
    processEscapes: true,
    processEnvironments: true,
    skipTags: ['script', 'noscript', 'style', 'textarea', 'pre','code'],
    TeX: { equationNumbers: { autoNumber: "AMS" },
         extensions: ["AMSmath.js", "AMSsymbols.js"] }
  }
});
</script>
</body>
</html>
